# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.pot

# virtual environments
venv/
ENV/
env/
.venv/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# pytype
.pytype/

# pyright
typings/

# coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# ==========================
# Django
# ==========================
*.sqlite3
*.log
media/
staticfiles/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# ==========================
# SQL
# ==========================
*.sql
*.dump
*.bak

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db
*.lnk
*.ini
*.bat
*.cmd

# ==========================
# IDE / Editors
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
